<div id="listOfJournal">
  <table id="template_table" class="center">
    <tr id="table_header">
      <td class="number-header">№</td>
      <td>Пользовател</td>
      <td>Позиция</td>
      <td>ATC</td>
      <td>Vlan</td>
      <td>Отчеты</td>
      <td>WIFI</td>
      <td>Оптика</td>
      <td>
        <div class="settings editor"></div>
      </td>
    </tr>
    <tr *ngFor="let row of rows">
      <td class="number">{{row.number}} </td>
      <td>{{row.username}}</td>
      <td>{{row.position}}</td>
      <td>
          <section>
            <md-slide-toggle (change)="changePrivileges(id.value);" [(ngModel)]="row.pAtc.read" [color]="primary"  [(checked)]="row.pAtc.read">
              Чтение
            </md-slide-toggle>
          </section>
          <section>
            <md-slide-toggle (change)="changePrivileges(id.value);"  [color]="primary" [(checked)]="row.pAtc.create" [(ngModel)]="row.pAtc.create" [disabled]="!row.pAtc.read">
              Добавление
            </md-slide-toggle>
          </section>
          <section>
            <md-slide-toggle (change)="changePrivileges(id.value);"  [color]="primary" [(checked)]="row.pAtc.update" [(ngModel)]="row.pAtc.update" [disabled]="!row.pAtc.read">
              Обновление
            </md-slide-toggle>
          </section>
          <section>
            <md-slide-toggle (change)="changePrivileges(id.value);"  [color]="warn" [(checked)]="row.pAtc.remove" [(ngModel)]="row.pAtc.remove" [disabled]="!row.pAtc.read">
              Удаление
            </md-slide-toggle>
          </section>
      </td>

      <td>
        <section>
          <md-slide-toggle (change)="changePrivileges(id.value);"  [(ngModel)]="row.pVlan.read" [color]="primary" [(checked)]="row.pVlan.read">
            Чтение
          </md-slide-toggle>
        </section>
        <section>
          <md-slide-toggle (change)="changePrivileges(id.value);" [color]="primary" [(checked)]="row.pVlan.create" [(ngModel)]="row.pVlan.create" [disabled]="!row.pVlan.read">
            Добавление
          </md-slide-toggle>
        </section>
        <section>
          <md-slide-toggle (change)="changePrivileges(id.value);"  [color]="primary" [(checked)]="row.pVlan.update" [(ngModel)]="row.pVlan.update" [disabled]="!row.pVlan.read">
            Обновление
          </md-slide-toggle>
        </section>
        <section>
          <md-slide-toggle (change)="changePrivileges(id.value);"  [color]="warn" [(checked)]="row.pVlan.remove" [(ngModel)]="row.pVlan.remove" [disabled]="!row.pVlan.read">
            Удаление
          </md-slide-toggle>
        </section>
      </td>

      <td>
        <section>
          <md-slide-toggle (change)="changePrivileges(id.value);"  [color]="primary" [(checked)]="row.pReport.read" [(ngModel)]="row.pReport.read">
            Чтение
          </md-slide-toggle>
        </section>
        <section>
          <md-slide-toggle (change)="changePrivileges(id.value);"  [color]="primary" [(checked)]="row.pReport.update" [(ngModel)]="row.pReport.update">
            Обновление
          </md-slide-toggle>
        </section>
      </td>

      <td>
        <section>
          <md-slide-toggle (change)="changePrivileges(id.value);"  [color]="primary" [(checked)]="row.pWifi.read" [(ngModel)]="row.pWifi.read">
            Чтение
          </md-slide-toggle>
        </section>
        <section>
          <md-slide-toggle (change)="changePrivileges(id.value);"  [color]="primary" [(checked)]="row.pWifi.create" [(ngModel)]="row.pWifi.create" [disabled]="!row.pWifi.read">
            Добавление
          </md-slide-toggle>
        </section>
        <section>
          <md-slide-toggle (change)="changePrivileges(id.value);"  [color]="primary" [(checked)]="row.pWifi.update" [(ngModel)]="row.pWifi.update" [disabled]="!row.pWifi.read">
            Обновление
          </md-slide-toggle>
        </section>
        <section>
          <md-slide-toggle (change)="changePrivileges(id.value);"  [color]="warn" [(checked)]="row.pWifi.remove" [(ngModel)]="row.pWifi.remove" [disabled]="!row.pWifi.read">
            Удаление
          </md-slide-toggle>
        </section>
      </td>

      <td>
        <section>
          <md-slide-toggle (change)="changePrivileges(id.value);"  [color]="primary" [(checked)]="row.pOptics.read" [(ngModel)]="row.pOptics.read">
            Чтение
          </md-slide-toggle>
        </section>
        <section>
          <md-slide-toggle (change)="changePrivileges(id.value);"  [color]="primary" [(checked)]="row.pOptics.create" [(ngModel)]="row.pOptics.create" [disabled]="!row.pOptics.read">
            Добавление
          </md-slide-toggle>
        </section>
        <section>
          <md-slide-toggle (change)="changePrivileges(id.value);"  [color]="primary" [(checked)]="row.pOptics.update" [(ngModel)]="row.pOptics.update" [disabled]="!row.pOptics.read">
            Обновление
          </md-slide-toggle>
        </section>
        <section>
          <md-slide-toggle (change)="changePrivileges(id.value);"  [color]="warn" [(checked)]="row.pOptics.remove" [(ngModel)]="row.pOptics.remove" [disabled]="!row.pOptics.read">
            Удаление
          </md-slide-toggle>
        </section>
      </td>
      <td>
        <div *ngIf="!row.changed" class="save saveBig editor toogle"></div>
        <div *ngIf="row.changed" (click)="savePrivileges(id.value);" class="saveRed saveBig editor toogle"></div>
        <input hidden type="number" #id value="{{row.id}}" title="">
      </td>
    </tr>
  </table>
</div>
<button (click)="addNewUser();" class="btn btn2 marginTop">Новый пользователь</button>

